
<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="container">
  <div id="header"><h1>Mayuchen's blog</h1></div>
  <div id="menu">Menu bar</div>
  <div id="mainContent">
    <div id="sidebar">2015-1 by mayuchen</div>
    <div id="content">
	<%=yield%>
    </div>
  </div>
  <div id="footer">2015-1 ruby on rails<span style="display:none"><script language="javascript" type="text/javascript" src="http://js.users.51.la/1967272.js"></script></span></div>
</div>




</body>
</html>
